{% extends "layouts/base.html" %}

{% block content %}
<br>
<div>
    <h1>Projects</h1>
</div>

<br>

{% if project_bool == False %}
    <h1>No existen Projects</h1>
    <a href="/create_project"><button>➥ Create a New Project</button></a>
{% else %}
    {% for project in projects %}
    <article class="card">
        <a href="{% url 'project_detail' project.id %}"><h1>{{project.name}}</h1></a>
        <form method="post" class="projectForm" action="{% url 'delete_project' project.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
    </article>
    {% endfor %}
{% endif %}
<script>
document.querySelectorAll('.projectForm').forEach(function(form) {
    form.addEventListener('submit', function(event) {
        event.preventDefault(); // Evita que el formulario se envíe inmediatamente
        if (confirm('Are you sure you want to delete this project?')) {
            this.submit(); // Envía el formulario si el usuario confirma
        }
    });
});
</script>
{% endblock %}
