{% extends "layouts/base.html" %}

{% load static %}

{% block content %}

<br>
<h1>Wellcome to the Django</h1>
<br>
<h1>{{title}}</h1>

<img src="{% static 'images/indice.png' %}" alt="My image" width="100">

<p>epicuri fermentum mus unum sonet aptent iudicabit omnesque electram intellegat nulla habemus doctus ipsum falli habemus utinam sadipscing felis etiam luctus graecis verear varius duo enim habeo intellegebat affert vero nominavi melius reprehendunt felis tincidunt convallis ridens ad agam alienum referrentur sociis volumus suspendisse sociis veniam viris definitionem invidunt platonem</p>
{% endblock %}


